.App {
  text-align: center;
}

.Main-page {
  background-color: #2c2c54;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Page-header {
  background-color: #2c2c54;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  font-size: calc(25px + 2vmin);
  color: white;
}

.Stats-container {
  background-color: #474787;
  margin-top: 25px;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
}

#Column {
  display: inline-grid;
  margin: 50px;
}
